<% layout("/layouts/boilerplates") %>
<link rel="stylesheet" href="/css/btnStyle.css">
 <div class="row mt-0 mx-auto">
    <div class="col-md-8 mx-auto">       
    <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label"><b>Title</b></label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control border border-black border-opacity-50" required>
            <div class="invalid-feedback">title is required!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label"><b>Description</b></label>
            <textarea name="listing[description]" class="form-control border border-black border-opacity-50" required><%= listing.description %></textarea>
            <div class="invalid-feedback">description is required!</div>
        </div>

        <div class="mb-3">
            <b>Old Image Preview</b><br>
            <img src="<%= originalImageUrl %>" class="myowndiv">
        </div>
         <div class="mb-3">
            <label for="Image" class="form-label"><b>Upload New Image</b></label>
            <input name="listing[image]" type="file" class="form-control border border-black border-opacity-50">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"><b>Price</b></label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control border border-black border-opacity-50" required>
                <div class="invalid-feedback">price is required!</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label"><b>Country</b></label>
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control border border-black border-opacity-50" required>
                <div class="invalid-feedback">country name is required!</div>
            </div>
        </div>
       
        <div class="mb-3">
            <label for="location" class="form-label"><b>Location</b></label>
            <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control border border-black border-opacity-50" required>
            <div class="invalid-feedback">location is required!</div>
        </div>

        <button class="btn btn-dark mb-3 myStyle">Edit</button>
       
    </form>
 </div>
</div>