<% layout("/layouts/boilerplates") %>
<link rel="stylesheet" href="/css/filter.css">

<div class="filters-main">
    <div id="filters">
        <div class="left_img_button" id="slideButton" style="display: none;">
         <i class="fa-solid fa-angle-left"></i>
        </div>
  
         <a href="/listings">
           <div class="filter ALL ps-2 pe-2">
             <div><i class="fa-solid fa-fire"></i>
             <p style="text-decoration: none;">Trending</p></div>
           </div>
         </a>
      <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-bed"></i>
          <p>Rooms</p>
        </div>
      </div>
      </a>
      <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-mountain-city"></i>
          <p>Cities</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-mountain"></i>
          <p>Mountains</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-brands fa-fort-awesome"></i>
          <p>Castles</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-person-swimming"></i>
          <p>Pools</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-campground"></i>
          <p>Camping</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-cow"></i>
          <p>Farms</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-snowflake"></i>
          <p>Arctic</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-igloo"></i>
          <p>Domes</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-ship"></i>
          <p>Boats</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-mountain"></i>
          <p>Mountains</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-hurricane"></i>
          <p>Tropical</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-bath"></i>
          <p>Tiny</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-arrow-up-from-ground-water"></i>
          <p>Parks</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-city"></i>
          <p>Iconic</p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="filter">
        <div>
          <i class="fa-solid fa-earth-americas"></i>
          <p>Americas</p>
        </div>
      </div>
    </a>
      <div class="right_img_button" id="slideButton">
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="tax-toggle tax-filter ml-3">
      <div class="form-check form-switch form-check-reverse" >
          <input class="form-check-input tax-switch shadow-none" type="checkbox" role="switch" id="flexSwitchCheckDefault" style="cursor: pointer;">
          <label class="form-check-label changeAfter" for="flexSwitchCheckDefault" style="cursor: pointer; margin-top: 3px;">Display total after taxes</label>
      </div>
  </div>
</div>

<div class="tax-toggle tax-sticky">
  <div class="form-check form-switch form-check-reverse">
      <input class="form-check-input tax-switch tax-sticky-sticky shadow-none" type="checkbox" role="switch" id="flexSwitchCheckDefaultS" style="cursor: pointer;">
      <label class="form-check-label changeAfter" for="flexSwitchCheckDefaultS" style="cursor: pointer;">Display total after taxes</label>
  </div>
</div>

    <div class="row row-cols-xxl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
        <% for(let listing of allListings) { %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text"><b><%= listing.title %></b>
                    <br>
                    <span>&nbsp;<%= listing.location %>, <%= listing.country %></span><br>
                    <span>&#8377; <%= listing.price.toLocaleString("en-IN") %> /night </span>
                    <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
                  </p>
                </div>
              </div>
            </a>
            <% } %>
    </div>

<script>

let taxSwitch = document.getElementById("flexSwitchCheckDefault");
taxSwitch.addEventListener("click", () => {
  let taxInfo = document.getElementsByClassName("tax-info");
  for (let info of taxInfo) {
    if (info.style.display !== "inline") {
      info.style.display = "inline";
    } else {
      info.style.display = "none";
    }
  }
});

// Handle tax toggle for the second switch
let taxSwitchS = document.getElementById("flexSwitchCheckDefaultS");
taxSwitchS.addEventListener("click", () => {
  let taxInfo = document.getElementsByClassName("tax-info");
  for (let info of taxInfo) {
    if (info.style.display !== "inline") {
      info.style.display = "inline";
    } else {
      info.style.display = "none";
    }
  }
});

</script>

<script defer src="/js/filter.js"></script>
